* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #b24592, #7b2ff7, #5f2c82);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card {
    background: linear-gradient(135deg, rgba(255,255,255,0.08), rgba(255,255,255,0.05));
    backdrop-filter: blur(20px);
    padding: 50px;
    width: 750px;
    max-width: 100%;
    border-radius: 25px;
    color: white;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.logo {
    width: 90px;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    opacity: 0.9;
    line-height: 1.5;
}

form {
    text-align: left;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group.full {
    margin-bottom: 25px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    opacity: 0.9;
}

input,
select,
textarea {
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    background: #f2f2f2;
}

input::placeholder,
textarea::placeholder {
    color: black;
    opacity: 1;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: white;
    color: #5f2c82;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e6e6e6;
}

@media (max-width: 1024px) {
    .card {
        width: 90%;
        padding: 40px;
    }

    h1 {
        font-size: 32px;
    }

    .subtitle {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .card {
        width: 100%;
        padding: 30px 20px;
    }

    h1 {
        font-size: 26px;
    }

    .subtitle {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .row {
        flex-direction: column;
        gap: 15px;
    }

    button {
        padding: 14px;
        font-size: 15px;
    }
}